
@{
    ViewBag.Title = "Versoes";
}

<h2>Downloa de Versoes</h2>
<h4>Baixe as versões atualizado.</h4>

<div class="row">
    <div class="col-md-4">
        <h2>Gerencial</h2>
        <p><a class="btn btn-info" href="http://www.mediafire.com/download/y582c913a2pdb3p/Gerencial2015.10.0.1.rar">Gerencial2015.10.0.1</a></p>
        <p><a class="btn btn-info" href="http://www.mediafire.com/download/vd472ft03lw4ma1/Gerencial2015.10.0.4.rar">Gerencial2015.10.0.4</a></p>
        <p><a class="btn btn-info" href="http://www.mediafire.com/download/0dcq27u82p6br0t/Gerencial2015.11.0.0.rar">Gerencial2015.11.0.0</a></p>
        <p><a class="btn btn-info" href="http://www.mediafire.com/download/139g5e6d6d0dns3/Gerencial2015.8.0.2.rar">Gerencial2015.8.0.2</a></p>
        <p><a class="btn btn-info" href="http://www.mediafire.com/download/dn027wtgg0a1dl3/Gerencial2015.800.0.3.rar">Gerencial2015.800.0.3</a></p>
    </div><!--Gerencial -->
    
    <div class="col-md-4">
        <h2>ConfiguradorPAF</h2>        
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/5ljdlzwvn9e0sis/ConfiguradorPAF.exe">ConfiguradorPAF</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/euy16r67yprcm9z/ConfiguradorPAF_OLD.exe">ConfiguradorPAF_OLD</a></p>
      
    </div><!--ConfiguradorPAF -->

    <div class="col-md-4">
        <h2>SS Emporium Restô</h2>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/dik1hgx6zzgzqjj/EmporiumPAF2014.9.0.6.r_a_r">EmporiumPAF2014.9.0.6</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/fdr5nnjzdinsgkz/EmporiumPAF2015.10.0.4.rar">EmporiumPAF2015.10.0.4</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/bz4dz1ipplbl85f/EmporiumPAF2015.5.0.5.rar">EmporiumPAF2015.5.0.5</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/4ftvua7q5r8dlnx/EmporiumPAF2015.8.0.1.rar">EmporiumPAF2015.8.0.1</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/wfg86r3rgx9tmvk/RestaurantePAFR2014.1.1.4.rar">RestaurantePAFR2014.1.1.4</a></p>
        
    </div><!--SS Emporium Restô-->

    <div class="col-md-4">
        <h2>RestauranteECF</h2>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/day0afjz9bhhlh4/RestauranteECF_2015.5.0.5.r_ar">RestauranteECF_2015.5.0.5</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/4u9v2hyzerme6xy/RestauranteECF_2015.9.0.7.r_ar">RestauranteECF_2015.5.0.5</a></p>
       
    </div><!--RestauranteECF-->

    <div class="col-md-4">
        <h2>Restouch</h2>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
    </div><!--Restouch-->
   
    <div class="col-md-4">
        <h2>Restaurante Gr</h2>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/7qamvj0g1zuqeut/RestauranteGR2014.8.0.1.rar">RestauranteGR2014.8.0.1</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/fkwkwb8tmudn94r/RestauranteGR_2015.10.0.3.rar">RestauranteGR_2015.10.0.3</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/6kd62petak5er74/RestauranteGR_2015.12.0.1.rar">RestauranteGR_2015.12.0.1</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/lkkam39acjg9bbo/RestauranteGR_2015.4.0.0.rar">RestauranteGR_2015.4.0.0</a></p>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/s87cz85b4grzytq/RestauranteGR_2015.5.0.1.rar">RestauranteGR_2015.5.0.1</a></p>
    </div><!--restaurante Gr-->

    <div class="col-md-4">
        <h2>SS R2</h2>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
    </div><!--SS R2-->

    <div class="col-md-4">
        <h2>Sincronia</h2>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
    </div><!--Sincronia -->

    <div class="col-md-4">
        <h2>Restô 7.0</h2>
        <p><a class="btn btn-info btn" href="http://www.mediafire.com/download/cibodjqb75v7djx/Resto+7.0.rar">Resto 7.0</a></p>
        


    </div><!--Restô 7.0-->

        <div class="col-md-4">
            <h2>Androind</h2>
            <p><a class="btn btn-info btn" href="#">SSRestoAndroid.APK</a></p>
            <p><a class="btn btn-info btn" href="#">WebServer</a></p>
            <p><a class="btn btn-info btn" href="#">ssPalm</a></p>
            <p><a class="btn btn-info btn" href="#">Gerararquivo</a></p>
            <p><a class="btn btn-info btn" href="#">Script</a></p>
        </div><!--Android-->

    <div class="col-md-4">
        <h2>SS Ponto</h2>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
    </div><!--SS Ponto-->

    <div class="col-md-4">
        <h2>CE500</h2>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
    </div><!--CE500-->

    <div class="col-md-4">
        <h2>C300</h2>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
    </div><!--CE300-->

    <div class="col-md-4">
        <h2>ConfiguradorPAF</h2>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versão 1</a></p>
    </div><!--ConfiguradorPAF-->

    <div class="col-md-4">
        <h2>Sincronizadores</h2>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
        <p><a class="btn btn-info btn" href="#">Versao 1</a></p>
    </div><!--Sincronizadores-->

</div>




