body {
    padding-top: 55px;
    padding-bottom: 50px;
    /*
        padding-top: 50px;
        padding-bottom: 20px;
    */
}

/* Definir o preenchimento para manter o conteúdo de bater as bordas */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Substituir o comportamento de inicialização padrão onde as listas horizontais Descrição
   irá truncar termos que são muito longos para caber na coluna da esquerda
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Definir a largura sobre os elementos de entrada do formulário já que eles são 100% de largura por padrão */
input,
select,
textarea {
    max-width: 280px;
}
/*----Menur de Imagens----*/
article#noticia-principal h2{
    font: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0 5px 0;
    margin: 10px 0 10px 0;
}

/*ajustando o album de fotos*/
ul#album-fotos{
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

/*ajustando o album de fotos li*/
ul#album-fotos li{
    float: left;
    width: 180px; /*divide a quantaidade de colucas*/
    height: 270px; /*divide a quantaidade de colucas*/
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .3s ease-in; 
}

ul#album-fotos li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 37pt;
    padding: 5px;
}

ul#album-fotos li:hover{
    -webkit-transform: scale(1.5)
}

ul#album-fotos li:hover span{
    opacity: 1;
}

/*chamadas da img*/
ul#album-fotos li#foto01{
    background: url(../Img/usuario.jpg) no-repeat;
    background-position: 50% 50%; /*centraliza a foto*/
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto01:hover{
    background-position: 0% 0%;
    background-size: 400px 400px;
}

ul#album-fotos li#foto02{
    background: url(../Img/download_programas.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto02:hover{
    background-position: 0px 0px;
    background-size: 400px 400px;
}

ul#album-fotos li#foto03{
    background: url(../Img/download.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;    
}

ul#album-fotos li#foto03:hover{
    background-position: 0px 0px;
    background-size: 400px 400px;
}

ul#album-fotos li#foto04{
    background: url(../Img/forum.jpg) no-repeat;
    background-position: 50% 50%;
    background-size:400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto04:hover{
    background-position: 0px 0px;
    background-size: 400px 400px;
}

ul#album-fotos li#foto05{
    background: url(../Img/sped.jpg) no-repeat;
    background-position: 50% 50%;
    background-size:400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto05:hover{
    background-position: 0px 0px;
    background-size: 400px 400px;
}

ul#album-fotos li#foto06{
    background: url(../Img/contato.png) no-repeat;
    background-position: 50% 50%;
    background-size:400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto06:hover{
    background-position: 0px 0px;
    background-size: 400px 400px;
}

/*Divide a pagina em dois*/
aside#lateral {
    display: block;
    width: 900px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1{
    font-family: sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0;
}

asinde#lateral h2{
    background: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 2px;
}

/*Rodape da Pagina*/
footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}
















