
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Suporte SS</h2>
    <h4 class="lead">Essa Pagina foi criada para ajudar nosso colaboradores e representantes, escreva-se para baixar nossos programas 
     ou outras ferramentas</h4>
    
    @*<p><a href="~/Account/Register" class="btn btn-primary btn-lg">Escreva-se &raquo;</a></p>*@
</div>

<section id="corpo-full">
    <article id="noticia-principal">
        <ul id="album-fotos">
            <a href="~/Account/Login"><li id="foto01"><span>Login e senha</span></li></a>@*tela de login*@
            <a href="~/Home/Download"><li id="foto02"><span>Programas</span></li></a>@*Download de outras ferramentas*@ 
            <a href="~/Home/Versoes"><li id="foto03"><span>Versões e script</span></li></a> @*Download de aplicativos da ss*@
            <a href="~/Home/Forum"><li id="foto04"><span>Fique por dentro</span></li></a>@*SPED de discurssão*@
            <a href="~/Home/Forum"><li id="foto05"><span>Duvidas sobre SPED</span></li></a>@*SPED de discurssão*@
            <a href="~/Home/Contato"><li id="foto06"><span>Envie suas sugestões</span></li></a>@*contato*@
        </ul>
    </article>
</section>
@*
    <div class="row">
        <div class="col-md-4">
            <h2>Esquerdo</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Centro</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Direito</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
*@