@model IEnumerable<SuporteSS2015._1.Models.Postagem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pesquisar</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>Digite sua busca</p>
            <input type="text" name="texto" id="texto" placeholder="Digite a Pesquisa" />
            <div>
                <button type="submit">Filtrar</button>
            </div>
            <table>
                <tr>
                    <td>Postagem</td>
                    <td>Mensagem</td>
                </tr>
                @{ 
                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Categoria</td>
                                <td>@item.Mensagem</td>
                            </tr>
                                    }
                    }
                }
            </table>
        }
    </div>
</body>
</html>
